﻿@page
@model Vote.Areas.Legal.Pages.ImpressumModel
@{
}

<h1>Impressum</h1>

<h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
<p>
    b&uuml;rger-stimme.de GbR<br />
    Am Sch&uuml;tzenplatz 36<br />
    21218 Seevetal
</p>

<p>
    <strong>Vertreten durch:</strong><br />
    Dr. Julian Ohrt
</p>

<h2>Kontakt</h2>
<p>
    @*Telefon: &#91;Telefonnummer&#93;<br />*@
    E-Mail: impressum(a)b&uuml;rger-stimme.de
</p>

@*<h2>Umsatzsteuer-ID</h2>
<p>
    Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a Umsatzsteuergesetz:<br />
    DE999999999
</p>*@

<h2>EU-Streitschlichtung</h2>
<p>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br /> Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

<h2>Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle</h2>
<p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>

<p>Quelle: <a href="https://www.e-recht24.de">https://www.e-recht24.de</a></p>