@page
@model Vote.Areas.Manage.Pages.Institution.EditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Institution</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Institution.Id" />
            <div class="form-group">
                <label asp-for="Institution.FkInstitutionType" class="control-label"></label>
                <select asp-for="Institution.FkInstitutionType" class="form-control" asp-items="ViewBag.FkInstitutionType"></select>
                <span asp-validation-for="Institution.FkInstitutionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Institution.Name" class="control-label"></label>
                <input asp-for="Institution.Name" class="form-control" />
                <span asp-validation-for="Institution.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Institution.PLZ" class="control-label"></label>
                <input asp-for="Institution.PLZ" class="form-control" />
                <span asp-validation-for="Institution.PLZ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

</body>
</html>
