@model Vote.Models.Cms.Blocks.ButtonBlock

@if (Model != null)
{
    <div class="block">
        @{
            var typeString = string.Empty;
        }

        @if (Model.IsSubmit.Value)
        {
            typeString = "type=\"submit\"";
        }

        <button>@Model.ButtonTitle</button>
    </div>
}