@model Vote.Models.Cms.Blocks.UploadBlock

@if (Model?.UploadId != null)
{
    <div class="block">
    <input type="file" id="@Model.UploadId.Value" name="@Model.UploadName.Value" accept="@Model.AcceptTypes.Value" />

</div>
}